<!DOCTYPE html> 
<html>
  <head>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	</head>

  <body>
<div class="d-flex justify-content-center" >
<h2> Most Recent Convos </h2>
</div>
<br/>
<!-- This div contains each conversation had by the current_user and whichever other user -->

<div class = "d-flex justify-content-between">

	<% @messages.each do |message| %>

		<div class = "pl-1">
				
				<% if message.sender_id == current_user.id%>

					<% if !@array.include?(message.recipient_id) %>

						<% @array << message.recipient_id %>

						<% @recipient_id = message.recipient_id %>

						<% @conversation = Message.where({recipient_id: @recipient_id, sender_id: current_user.id}).or(Message.where({recipient_id: current_user.id, sender_id: @recipient_id})).order(created_at: :asc).limit(3)%>

						<br/>
						<h3 class = "text-center"><a href="/users/<%=@recipient_id%>/messages/new" > Your Convo</a> With <a href= "/users/individual/<%=message.recipient_id%>" class= "text-muted"><%= User.find(message.recipient_id).first_name %> <img src= "<%=User.find(message.recipient_id).avatar.thumb.url%>"/></a></h3>

						<% @conversation.each do |x| %>
							<div class = "pl-1">
							<p class="text-black-50">Sent by 

							<strong><a href= "/users/individual/<%=x.sender_id%>" class = "text-muted">
								<% if User.find(x.sender_id).first_name == current_user.first_name %>

									You

								<% else %>
									<%= User.find(x.sender_id).first_name %>
								<%end%>
							</a></strong> at <strong><%= x.created_at %></strong>

							</p>

							<p> <%= x.content %></p>
						</div>
							<hr/>

						<%end %>

					<% end %>

				<% end %>



				<% if message.recipient_id == current_user.id%>

					<% if !@array.include?(message.sender_id) %>

						<% @array << message.sender_id %>

						
							
						<% @sender_id = message.sender_id %>

						<% @conversation = Message.where({recipient_id: @sender_id, sender_id: current_user.id}).or(Message.where({recipient_id: current_user.id, sender_id: @sender_id})).order(created_at: :asc).limit(3)%>
						<br/>
						<h3 class = "text-center"><a href="/users/<%=@sender_id%>/messages/new"> Your Convo</a> With <a href= "/users/individual/<%=message.sender_id%>" class = "text-muted"><%= User.find(message.sender_id).first_name %> <img src= "<%=User.find(message.sender_id).avatar.thumb.url%>"/></a></h3>

						<% @conversation.each do |x| %>
							<div class = "pl-1">
							<p class="text-black-50">Sent by 

							<strong><a href= "/users/individual/<%=x.sender_id%>" class = "text-muted"><% if User.find(x.sender_id).first_name == current_user.first_name %>

								You

								<% else %>

								<%= User.find(x.sender_id).first_name %><% end %></a></strong> at <strong><%= x.created_at %></strong>

							</p>

							<p><%= x.content %></p>
						</div>
							<hr/>

						<%end %>

					<% end %>

				<% end %>

		</div>

	

	<% end %>

</div>

</body>
</html>
