<!DOCTYPE html> 
<html>
  <head>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	</head>

  <body>
  	<br/><br/>
<div class="d-flex justify-content-center">

<h2 > The Beginning of Your Convo With </h2>
</div>
<div class="d-flex justify-content-center">
<h2><%= User.find(params[:user_id]).first_name %> <%= User.find(params[:user_id]).last_name %> <img src="<%= User.find(params[:user_id]).avatar.thumb.url%>"/></h2>
</div>
<div class= "ml-3 position-fixed"><a href = "#messages_form">	<img src = "https://image.flaticon.com/icons/svg/37/37472.svg" height = "40" width="40" /> </a></div>
<br/>
<!-- This div contains each conversation had by the current_user and whichever other user -->

<div class="jumbotron container">


	<div>
	<% @messages.each do |message| %>

				
		<div >
		
			<p>Sent by 

			<strong><a href= "/users/individual/<%=message.sender_id%>">
				<% if User.find(message.sender_id).first_name == current_user.first_name %>

					You

				<% else %>
					<%= User.find(message.sender_id).first_name %>
				<%end%>
			
			</a></strong> at <strong><%= message.created_at %></strong>

			</p>

			<p class="lead"> <%= message.content %></p>

			 <hr class="my-2">
		</div>
		<br/>
	<%end %>
</div>
<!--Ability to send messages immediately to recipient -->
	
	<div><a id = "messages_form"></a></div>
	<div>

			<%= form_for [current_user, @message], url: messages_second_create_path, method: :post do |f| %>
				<p>
						<%= f.label :Message %><br/> 
						<%= f.text_field :content %><br/>

						<input type="hidden", value="<%=params[:user_id]%>", name="recipient_id">

					</p>
					<p> 		<%= f.submit %> </p>

			<% end %>

	</div>


		<br/><br/><br/>


</div>

</body>
</html>
