<p>Articles</p>

<br/>

<div>
	<% @articles.each do |article| %>
		
		<p><strong><%= User.find(article.user_id).first_name %></strong>
			<%= User.find(article.user_id).last_name %> </p>

		<h3><a href = "/articles/<%=article.id%>"><%= article.title %></a></h3>

		<p> Tag: <%=article.tag %></p>

		<hr/>

	<%end%>

</div>