<p>Articles</p>

<br/>

<div>
	<%= form_tag articles_path, method: :get do %>
  		<%= text_field_tag 'term', params[:term], placeholder: "Search" %>
  		<%= submit_tag 'Search!' %>
	<% end %>
</div>

<div>
	<% @articles.each do |article| %>
		
		<p><strong><%= User.find(article.user_id).first_name %></strong>
			<%= User.find(article.user_id).last_name %> </p>

		<h3><a href = "http://localhost:3000/articles/<%=article.id%>"><%= article.title %></a></h3>

		<p> Tag: <%=article.tag %></p>

		<hr/>

	<%end%>

</div>