



<img class="article-dom-img" src="/ringgit2.jpg" />



<% if signed_in? && current_user.id == @author.id %>
	<a href = "/articles/<%=@article.id%>/edit"> Update Article </a>

	<%= form_tag("/articles/#{@article.id}", method: :delete) do %>
	    			<input type="submit" value="Delete Article" />
	<% end %>   
<%end%>


<!-- HEADLINE -->


<h1 class= "headline"><%= @article.title %></h1>



<!-- BYLINE -->
<div class="divider-horizontal"></div>
<div class = "byline-container">


	 


	<div class="author-container">

		<a href="/users/indivdual/<%= @author.id %>"><img class ="avatar" src="<%= @author.avatar.thumb.url %>"></a>

        <p><a class="author-tag" href="/users/individual/<%= Article.second.user_id %>">By <strong><%= User.find(Article.find(2).user_id).first_name %> <%= User.find(Article.find(2).user_id).last_name %> </strong></a></p>

         <img class="verified" src = "/verified_icon.png"/>

       </div>


</div>


<!-- ARTICLE INFO CONTAINER -->


<div class="article-submission-info">

		<p class="article-submission-info-item">
			Submitted <strong><%= time_ago_in_words(@article.created_at) %> ago</strong>
		</p>

		<p class="article-submission-info-item">
			<%= @article.content %>
		</p>

		<p class="article-submission-info-item">
			Tag: <%= @article.tag %>
		</p>

</div>

<div class="divider-horizontal"></div>


<div class="article-container">

<% if @article.id == 2 %>

<p class="body-text"><strong>Let’s begin by sitting back and imagining two scenarios:</strong>

Scenario 1: Taking the elevator up to the floor your office is on, lukewarm coffee in your hand, you smile a little as you’ll finally be paid for the last three months of work. You haven’t been paid for three months, and your boss promised you the money this month, all in one go. To you surprise, your boss is waiting for you at your cubible. “I’m sorry, Jimmy, your pay will have to wait a week,” said your boss.

<br/>
<br/>

Scenario 2: You hate your company you’re working for now, and you’ve been thinking of leaving for the past few weeks. Lo and behold, another company makes you a better offer; higher pay, better benefits, all the bells and whistles. You resign, and begin working at the new company. Wait a minute, your previous company still owes you half a month’s wages, and they refuse to pay you.

<br/>
<br/>

What in tarnation? In both cases, you’re broke, and this is also the proverbial straw that broke the camel’s back. Is there anything you can do?


</p>

</div>


<% end %>


<!-- Body text below: -->



<div class="comments-box">
<% if signed_in? %>

<!-- this is naturally hidden until the div above is clicked --> 
<div class="new-comment-container">

	<% if signed_in? %>
<div> 
	<p class="post-comment">Post a comment</p>
</div>
<%= form_for [@article, @comment] do |f| %>
<p>
		<%= f.label :type_your_message_below, :class => 'user-type'%><br/> 
		<%= f.text_area :content, :class => 'message-form', :id => 'comment-box' %><br/>

		<% f.hidden_field :user_id, :value => current_user.id %>
		<% f.hidden_field :article_id, :value => @article.id %>

	</p>
	<p> <%= f.submit :'Post your comment', :class => 'button', :id => 'send' %>  </p>

<% end %>

<% end %>
</div>

</div>

<!-- Comments Section starts here -->
<div class="comments-box">
<p class="post-comment">Comments</p>
<div class="divider-horizontal"></div>
<% @comments.each do |comment|%>
<div class="question-submission-info">
	<a href="/users/individual/<%=comment.user_id%>" class="question-submission-info-item" id="comments-info">Posted by <strong><%= User.find(comment.user_id).first_name %></strong></a>


<p class="question-submission-info-item">Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> </p>

</div>


<p class="content">
	<%= comment.content %>
</p>
<div class="divider-horizontal"></div>
<% end %>

<% end %>

</div>
