

  <%= form.text_field :email, type: 'email', :class => 'form-default', :placeholder => 'Email' %>




  <%= form.password_field :password, type: 'password', :class => 'form-default', :placeholder => 'Password' %>


  <%= form.text_field :first_name, :class => 'form-default', :placeholder => 'First Name' %>


  <%= form.text_field :last_name, :class => 'form-default', :placeholder => 'Last Name' %>

  
  <%= form.text_field :birthday, :class => 'form-default', :placeholder => 'Birthday' %>
  <p class="form-info">Write in DD-MM-YYYY format </p>


  <%= form.text_field :industry, :class => 'form-default', :placeholder => 'Occupation' %>


  <%= form.text_field :type_of_lawyer, :class => 'form-default', :placeholder => 'Type of lawyer' %>


  <%= form.text_field :description, :class => 'form-default complete', :placeholder => 'Brief Personal Description' %>

  
  <%= form.text_field :education, :class => 'form-default', :placeholder => 'Educational Background' %>

          <p class="form-info avatar-prompt">Upload supporting documents</p>
      
      <%= form.file_field :proof, :multiple => true  %>

        <p class="form-info">We use these to verify your legal practice </p>  

        <p class="form-info avatar-prompt">Upload a profile picture</p>
      
      <%= form.file_field :avatar %>

<%= form.hidden_field :role, value: :lawyer %>

<div>

<%= form.submit "Submit", :class => 'button', :id=> 'sessions-button-lawyer' %>

</div>

