<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class="date-field">
  <%= form.label :birthday %>
  <%= form.date_field :birthday %>
</div>

<div class="text-field">
  <%= form.label :industry %>
  <%= form.text_field :industry %>
</div>

<div class="text-field">
  <%= form.label :type_of_lawyer %>
  <%= form.text_field :type_of_lawyer %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-field">
  <%= form.label :education %>
  <%= form.text_field :education %>
</div>

<div class = "file-field">
   <%= form.label :proof %>
  <%= form.file_field :proof %>
</div>  

<div class = "file-field">
   <%= form.label :avatar %>
  <%= form.file_field :avatar %>
</div> 

<%= form.hidden_field :role, value: :lawyer %>


