


<% if @user.lawyer? %>   

<!-- display this class if user is a lawyer -->

<div class="lawyer-display">


<div class="user-container">


	<p class="user-type"> Lawyer</p>

	<div class="user-name-container">

		<p class="user-name"> <%= @user.first_name %> <strong><%= @user.last_name %> </strong></p>

		<img class="verified-user-profile" src = "/verified_icon.png"/>

	</div>

<% if signed_in? && current_user.lawyer? && current_user.verified == true && current_user.email == @user.email%>
        
        
		<p class="user-type">
          <a href= "/articles/new" class="dropdown-tag"> Write A Legal Article </a>
    </p>
        

<% end %>

<% if signed_in? && current_user.email == @user.email %>
	<p class = "user-type">
			<a href = "/users/<%=current_user.id%>/edit"> Update Profile </a>

	</p>
<% end %>



	<div class="user-photo-container">

			<img class="profile-pic-view" src = "<%=@user.avatar%>" />

			<div class="user-info-container">

				<div class="divider-horizontal"></div>

				<p class="user-type">Brief Description</p>

				<p class="quick-description"> <%= @user.description %> </p>

			<div class="divider-horizontal"></div>

				<p class="user-type">Background</p>

				<p class="background"> <strong>Education:</strong> <%= @user.education %> </p>
				<p class="background"> <strong>Specialisation:</strong> <%= @user.type_of_lawyer %> </p>

			<div class="divider-horizontal"></div>

				<p class="user-type">Contact Information</p>

				<p class="background"> <strong>Email:</strong> <%= @user.email %></p>

			</div>

	</div>


	
<!--This part is the option for sending messages -->




<!-- this is naturally hidden until the div above is clicked --> 
	<div class="divider-horizontal"></div>
<div class="secondary-items-container">


	<div class="message-form-container">


			<p class="send-message" id="secondary">Send a Message to <%= @user.first_name %></p>


		<% if signed_in? %>
			<%= form_for [current_user, @message] do |f| %>

				<%= f.label :type_your_message_below, :class => 'user-type' %><br/> 
				<%= f.text_area :content, :class => 'message-form' %><br/>

				<input type='hidden' name='recipient_id' value='<%=@user.id%>'>


			<p> <%= f.submit :Send, :class => 'button', :id => 'send' %> </p>

			

		<% end %>
		
		<% else %>

		<p> You must be <a href id="mustbesignedin"="<%=sign_in_path %>">signed  in </a>to send a message </p>


	<% end %>

	</div>



<div class="divider-vertical"></div>





<div class="articles">
	<p class="send-message" id="secondary"><%= @user.first_name %>'s Articles</p>
	<br/>
	<% @articles.each do |x| %>


	<div class="lawyer-articles-container">

		<a href="/articles/<%=x.id%>" class="headline-link"> <%= x.title %> </a>

		
	
	

	</div>
	<div class="divider-horizontal"></div>
	<br/>


	<% end %>
	<% if @user.articles.count < 1 %>
		<p> <%= @user.first_name %> hasn't written any articles yet </p>

		<% end %>
	</div>

</div>
</div>

</div>

<%else%>


<!-- STYLE FOR NON-LAWYER (NORMAL USER) HERE -->



<div class="user-container">


	<p class="user-type"> Epeals User</p>

	<div class="user-name-container">

		<p class="user-name"> <%= @user.first_name %> <strong><%= @user.last_name %> </strong></p>


	</div>

	<% if signed_in? && current_user.email == @user.email %>
		<div>
				<a href = "/users/<%=current_user.id%>/edit"> Update Profile </a>

		</div>
	<% end %>

	<div class="user-photo-container">

			<img class="profile-pic-view" src = "<%=@user.avatar%>" />

			<div class="user-info-container">

			<div class="divider-horizontal"></div>

				<p class="user-type">Contact</p>

				<p class="quick-description"> <strong>Email:</strong><%= @user.email %> </p>

			<div class="divider-horizontal"></div>

				<p class="user-type">Occupation</p>

				<p class="quick-description"><%= @user.industry%> </p>

				<div class="divider-horizontal"></div>

				<p class="user-type">Date of Birth</p>

				<p class="quick-description"><%= @user.birthday.to_date%> </p>

			</div>

	</div>




	

		<!--This part is the option for sending messages -->

	<% if signed_in? %>
		<div> 
			<h4>Send a Message</h4>
		</div>

<!-- this is naturally hidden until the div above is clicked --> 
		<div>
		<%= form_for [current_user, @message] do |f| %>
		<p>
				<%= f.label :content %><br/> 
				<%= f.text_field :content %><br/>

				<% f.hidden_field :sender_id, :value => current_user.id %>
				<input type='hidden' name='recipient_id' value='<%=@user.id%>'>

			</p>
			<p> 		<%= f.submit %> </p>

		<% end %>
		</div>
	<% end %>

	</div>

<% end %>