<!--this is the display that will show if the user is a lawyer -->
<div class="lawyer-display">
<p> LAWYER </p>
<h2> <%= @lawyer.first_name %> <%= @lawyer.last_name %> </h2>
<br/>
<img src = "<%=@lawyer.avatar%>">
<br/><br/><br/><br/>
<p> <%= @lawyer.description %> </p>
<br/><hr/>

<div> <h3> Background </h3>
<br/>
<p> Education: <%= @lawyer.education %> </p>
<p> Specialisation: <%= @lawyer.type_of_lawyer %> </p>
<p> Contact: <%= @lawyer.email %></p>
<br/></div>

<br/><br/>

<div>
	<h4>Articles By This Lawyer</h4>
	<br/>
	<% @articles.each do |x| %>
		<strong><a href="http://localhost:3000/articles/<%=x.id%>"> <%= x.title %> </a></strong>
	<% end %>
</div>
</div>

