    <!-- MAIN BODY STARTS FROM HERE -->

    <div class="dom-container">

      <div class="header-container">

        <h1>Know your worth.</h1>

      </div>

      <div class="subhead-container">

         <h3>Find out about your employee rights</h3>

       </div>

       <div class="quiz-box-container">

         <h3>Are you being treated fairly?</h3>
         <div class="button" id="main-quiz">Take the quiz</div>

       </div>

      <img class="dom-img" src="/employment2.jpg" />

      <!-- questionnaire content goes here -->

    </div>


   <!--  DIVIDER -->

        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>




    <div class="section-header">

      <a href="http://localhost:3000/articles">Featured Articles</a>

    </div>

<!--     NEWS CONTAINER BELOW -->

    <div class="news-container">

      <!-- News Item 1 -->

      <div class="news-item-container">

        <div class="topic-tag"> <%= Article.find(1).tag %></div>

        <img class="news-item-img" src="/annualleave.jpg" />

        <h2><a href="http://localhost:3000/articles/2"><%= Article.find(1).title %></a></h2>

        <p class="author-tag">By <strong><%= User.find(Article.find(1).user_id).first_name %> <%= User.find(Article.find(1).user_id).last_name %> </strong></p>

      </div>

      

      <!-- News Item 2 -->

      <div class="news-item-container">

        <div class="topic-tag"><%=Article.find(2).tag%></div>

        <img class="news-item-img" src="/ringgit.jpg" />

        <h2><a href="http://localhost:3000/articles/3"><%= Article.find(2).title %></a></h2>

        <p class="author-tag">By <strong><%= User.find(Article.find(2).user_id).first_name %> <%= User.find(Article.find(2).user_id).last_name %></strong></p>

      </div>

      <!-- News Item 3 -->

      <div class="news-item-container">

        <div class="topic-tag"><%=Article.find(3).tag%></div>

        <img class="news-item-img" src="/contract.png" />

        <h2><a href="http://localhost:3000/articles/3"><%= Article.find(3).title %></a></h2>

        <!--<h2> <#%= # link_to '#{Article.find(3).title}', article_path('#{Article.find(3).title}') %></h2> -->

        <p class="author-tag">By <strong><%= User.find(Article.find(3).user_id).first_name %> <%= User.find(Article.find(3).user_id).last_name %> </strong></p>

      </div>

    </div>






       <!--  DIVIDER -->
   
        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>


    <div class="section-header">

      <a href="/queries">Trending Questions</a>

    </div>

<!--     BEGIN QUESTIONS CONTAINER -->

    <!-- question 1 -->

      <div class="questions-container">

    <% @top_queries.each do |query| %>

        <p class="question-topic"><%= query.topic %></p>

        <h2 class="question-title"><%= query.question%></h2>

        <div class="question-submission-info">

            <a href="/users/individual/<%=query.user_id%>" class="question-submission-info-item">Submitted by <strong> <%= User.find(query.user_id).first_name%></strong></a>

            <p class="question-submission-info-item">Submitted <%=query.created_at %></p>



        </div>


        <div class="answer-container">

          <p id="top-answer">Top Answer</p>

          <% @top_answer = Answer.where(query_id: query.id).order(upvotes: :desc).limit(1)  %>
            <% @top_answer.each do |a|%>

          <a href="#" class="answer"><%= a.content %></a>

          <div class="answer-submission-info">

            <a href="/users/individual/<%=a.user_id%>" class="answer-submission-info-item">Submitted by <strong> <%=User.find(a.user_id).first_name%></strong></a>

          </div>

          <div class="button" id="seemore">See More</div>

          <% end %>

          <div class="divider-horizontal"></div>


        </div>

      <% end %>

      

          <!-- question 2 -->


     

      </div>


    </div>


           <!--  DIVIDER -->
   
        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>


    <div class="section-header">

      <a>Popular Topics</a>

    </div>

    <div class="topics-container">

      <div class="topics-item-container" id="wages">

        <h2>Wages</h2>


        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>


        <p>Malaysia's wage laws are strict, but many are not aware of them. Make sure your employer is paying you fairly and on time.</p>


        <div class="button-container">
        
          <div class="button" id="readmore"><a href= "/wages">Read more</a></div>

        </div>





      </div>

      <div class="topics-item-container" id="harrassment">

        <h2>Harrassment</h2>


        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>


        <p>We're living in the 21st century. Make sure that your boss and coworkers are treating you with the respect you deserve.</p>

        
        <div class="button-container">

          <div class="button" id="readmore">Read more</div>

        </div>




   
      </div>

      <div class="topics-item-container" id="hours">

        <h2>Hours</h2>


        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>


        <p>Hard work is good, but ensuring you are compensated fairly is equally important. Find out about Malaysia's laws regarding working hours.</p>



        <div class="button-container">


          <div class="button" id="readmore">Read more</div>


        </div>



      </div>

      <div class="topics-item-container" id="timeoff">

        <h2>Time off</h2>


        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>
        <div class="divider-horizontal" id="white"></div>


        <p>Everyone needs a break. Make sure you are getting the time to unwind that you are legally entitled to.</p>


        <div class="button-container">

          <div class="button" id="readmore"><a href= "/timeoff">Read more</a></div>

        </div>


      </div>


   </div>


        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>
        <div class="divider-horizontal"></div>










