<h1> Time Off, Rest Days & Holidays </h1>

<h4> Employment Act 1955 </h4>

<div><p>59. Rest day</p>

<p>(1) Every employee shall be allowed in each week a rest day of one whole day as may. be determined from time to time by the employer, and where an employee is allowed more than one rest day in a week the last of such rest days shall be the rest day for the purposes of this Part:</p>

<p>Provided that this subsection shall not apply during the period in which the employee is on maternity leave as provided under section 37, or on sick leave as provided under section 60F, or during the period of temporary disablement under the Workmen's Compensation Act 1952, or under the Employees Social Security Act 1969.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>

<div><p>(1A) Notwithstanding subsection (1) and the interpretation of the expression "day" in section 2 (1), in the case of an employee engaged in shift work any continuous period of not less than thirty hours shall constitute a rest day.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>

<div><p>(1B) Notwithstanding subsection (1), the Director General, on a written application by an employer and subject to any conditions he may deem fit to impose, may. permit the employer to grant the rest day for each week on any day of the month in which the rest days fall and the day so granted shall be deemed to be the employee's rest day for the purposes of this section.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>

<div><p>(2) The employer shall prepare a roster before the commencement of the month in which the rest days fall informing the employee of the days appointed to be his rest days therein, and where the same day in each week has been appointed as the rest day for all employees in the place of employment, the employer may, in lieu of preparing a roster, display a notice at a conspicuous place in the place of employment informing the employee of the fixed rest day so appointed.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>

<div> <p>60. Work on rest day</p>

<p>(1) Except as provided in section 60A (2), no employee shall be compelled to work on a rest day unless he is engaged in work which by reason of its nature requires to be carried on continuously or continually by two or more shifts:</p>

<p>Provided that in the event of any dispute the Director General shall have power to decide whether or not an employee is engaged in work which by reason of its nature requires to be carried on continuously or continually by two or more shifts.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>



<div><p>(3)</p>

<p>(a) In the case of an employee employed on a daily, hourly or other similar rate of pay who works on a rest day, he shall be paid for any period of work--</p>
<p>(i) which does not exceed half his normal hours of work, one day's wages at the ordinary rate of pay; or</p>
<p>(ii) which is more than half but does not exceed his normal hours of work, two days' wages at the ordinary rate of pay.</p>
<p>(b) In the case of an employee employed on a monthly rate of pay who works on a rest day, he shall be paid for any period of work --</p>
<p>(i) which does not exceed half his normal hours of work, wages equivalent to half the ordinary rate of pay for work done on that day; or</p>
<p>(ii) which is more than half but which does not exceed his normal hours of work, one day's wages at the ordinary rate of pay for work done on that day.</p>
<p>(c) For any work carried out in excess of the normal hours of work on a rest day by an employee mentioned in paragraph (a) or (b), he shall be paid at a rate which is not less than two times his hourly rate of pay.</p>
<p>(d) In the case of an employee employed on piece rates who works on a rest day, he shall be paid twice his ordinary rate per piece.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>


<div><p>60D. Holidays</p>

<p>(1) Every employee shall be entitled to a paid holiday at his ordinary rate of pay on ten gazetted public holidays in any one calendar year, four of which shall be--</p>

<p>(a) the National Day;</p>
<p>(b) the Birthday of the Yang di-Pertuan Agong;</p>
<p>(c) the Birthday of the Ruler or the Yang di-Pertua Negeri, as the case may be, of the State in which the employee wholly or mainly works under his contract of service, or the Federal Territory Day, if the employee wholly or mainly works in the Federal Territory; and</p>
<p>(d) the Workers' Day:</p>
<p>Provided that if any of the said ten gazetted public holidays falls on a rest day the working day following immediately thereafter shall be a paid holiday in substitution therefor.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>



<div><p>(1A) The employer shall exhibit conspicuously at the place of employment before the commencement of each calendar year a notice specifying the remaining six gazetted public holidays in respect of which his employees shall be entitled to paid holidays:</p>

<p>Provided that by agreement between the employer and an employee any other day or days may be substituted for one or more of the said remaining six gazetted public holidays.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>



<div><p>(1B) Where any of the said ten gazetted public holidays or any other day substituted therefor as provided in subsection (1) or (1A) falls within the period during which an employee is on sick leave or annual leave to which the employee is entitled under this Act, or falls during the period of temporary disablement under the Workmen's Compensation Act 1952, or under the Employees Social Security Act 1969, the employer shall grant another day as a paid holiday in substitution for such public holiday or the day substituted therefor.</p></div>

<div><h3> WHAT THIS MEANS  </h3></div>
<div> <!--Insert layman's terms here --></div>

<br/><br/><br/>




<!--Queries Start Here -->


<!-- if the user is signed in, they can see this option -->

<% if signed_in? %>
	<!--if the user clicks on this div below, a popup of a form will appear for them to write their query -->

	<div> <h4> Write Your Own Query </h4></div>

	<!-- this is the div that should be naturally hidden until the current user clicks on div above. Maybe this can pop up above the page, and the rest of the page will somewhat fade behind it, lightbox-like style? -->

	<div>

	<%= form_for [@query], url: queries_timeoff_new_path, method: :post do |f| %>
		<p>
				<%= f.label :"question Title"%><br/> 
				<%= f.text_field :question %><br/>

				<%= f.label :description %><br/> 
				<%= f.text_field :description %><br/>

				<% f.hidden_field :user_id, :value => current_user.id %>
				<% f.hidden_field :topic, :value => "Time Off" %>

			</p>
			<p> 		<%= f.submit %> </p>

	<% end %>

	</div>

<% end %>

<!--regarding the above form for query creation, I think it would be good to implement some kind of ajax so that it updates the db immediately and maybe the page will not have to refresh? So that the comment appears immediately below. I don't know if this is a thing. -->

<!-- Queries section starts here --> 

<div>
<h1>Queries</h1>
<hr/>
<% @queries.each do |query|%>
	<h5 class= "User"> Submitted by 
	<a href="/users/individual/<%=query.user_id%>"><%= User.find(query.user_id).first_name %> <img src = "<%=User.find(query.user_id).avatar.thumb.url%>"/></a>
	</h5>

	<p class="date">
		Submitted <%= time_ago_in_words(query.created_at) %> ago
	</p>

	<!--question title -->
	<h3 class="question"> <strong>
		<%= query.question %> </strong>
	</h3>

	<!--description of question -->

	<p> 
		<%= query.description %>
	</p>

	<!-- this will be a div that only signed in users can see and click on so that they can answer the question -->
	<% if signed_in? %>

		<br/><br/><br/>
		<div> Do You Know The Answer? </div>

		<!-- this form is hidden until the above div is clicked on -->

		<div>

			<%= form_for [query, @answer] do |f| %>
				<p>
						<%= f.label :"Your Answer"%><br/> 
						<%= f.text_field :content %><br/>
						<% f.hidden_field :user_id, :value => current_user.id %>
						<% f.hidden_field :query_id, :value => query.id %>

					</p>
					<p> 		<%= f.submit %> </p>

			<% end %>

	</div>

	<% end %>


	

	<!-- All answers pertaining to each query will now be listed beneath the query. -->

	<h3> Top Answers </h3>

	<% @answers = Answer.where(query_id: query.id).order(upvotes: :desc) %>

	<% @answers.each do |answer| %>

		<h5> Submitted by <a href="/users/individual/<%=answer.user_id%>"> <%= User.find(answer.user_id).first_name %><img src="<%= User.find(answer.user_id).avatar.thumb.url %>"/> </a>

			<!-- this tick only appears if user is a lawyer -->
			<% if User.find(answer.user_id).lawyer? %>

				<img src = "/affirmed.png" style="height: 30px; width: 30px"/>

			<% end %> 
		
		</h5>

		<!-- content of answer -->

		<div>
			
			<p> <%= answer.content %> </p>

		<!-- this is the upvote button. For now, it is a submit button with a value -->
			<%= form_for answer, url: answers_upvote_path, method: :post do |x| %>

	  		
	  			<input type="hidden", value="<%=answer.id%>", name="answer_id">
	  			<input type="submit", value="Upvote">
	  		
			
			<% end %>

		<!--this shows the number of times the answer has been upvoted. Maybe it needs a thumbs up symbol or something next to it..or! the upvot button can be a thumbs up symbol and the upvote count will be next to it. -->

		<%= answer.upvotes %> </p>

		</div>
	<%end%>

		<br/><br/><br/><hr/>
<% end %>

</div>







