

<div class="article-headline-img-container">
		<img class="article-dom-img" src='/ringgit2.jpg' />
		<h1 class="headline-new"> Payment of Wages </h1>

</div>


<div class="content-container">

<h4 class="legal-act-header"> Employment Act 1955 </h4>


<h3 class="subhead">What the law says</h3>

	<p class="law-section"><strong> 18. Wage period </strong></p>

	<p>(1) A contract of service shall specify a wage period not exceeding one month.</p>

	<p>(2) If in any contract of service no wage period is specified the wage period shall for the purposes of the contract be deemed to be one month.</p>

	<div class="divider-horizontal"></div>

	<p class="law-section"><strong> 19. Time of Payment of Wages </strong></p>

	<p>Every employer shall pay to each of his employees not later than the seventh day after the last day of any wage period the wages, less lawful deductions, earned by such employee during such wage period:</p>

	<p>Provided that if the Director General is satisfied that payment within such time is not reasonably practicable, he may, on the application of the employer, extend the time of payment by such number of days as he thinks fit.</p>

	<div class="divider-horizontal"></div>

	<p class="law-section"><strong> 20. Payment on normal termination of contract</strong></p>

	<p>The wages, less lawful deductions, earned by but not yet paid to an employee whose contract of service terminates in accordance with section 11 (1) or of section 12 shall be paid to such employee not later than the day on which such contract of service so terminates.</p>


	<div class="divider-horizontal"></div>

	<h3 class="subhead"> What it means </h3>

		<ul class="legal-list">
			<li>You can't be paid for a period longer than <strong>one month at a time</strong></li>
			<li>Your employer can't be late paying you by <strong>more than seven days</strong></li>
			<li>However, it is possible for an employer to delay payment through <strong> legal arbitration</strong></li>
		</ul>


	<div class="divider-horizontal"></div>
	<div class="divider-horizontal"></div>
	<div class="divider-horizontal"></div>

</div>


<!--Queries Start Here -->


<!-- if the user is signed in, they can see this option -->

<% if signed_in? %>
	<!--if the user clicks on this div below, a popup of a form will appear for them to write their query -->

	<div class="content-container"> 

		<h2>Ask a question</h2>

		<h4 class="legal-act-header"> Post your query here </h4>

	<!-- this is the div that should be naturally hidden until the current user clicks on div above. Maybe this can pop up above the page, and the rest of the page will somewhat fade behind it, lightbox-like style? -->


	<%= form_for [@query] do |f| %>
		<p>
				<%= f.label :"question Title"%><br/> 
				<%= f.text_field :question %><br/>

				<%= f.label :description %><br/> 
				<%= f.text_field :description %><br/>

				<% f.hidden_field :user_id, :value => current_user.id %>
				<% f.hidden_field :topic, :value => "Payment of Wages" %>

			</p>
			<p> <%= f.submit "Post", :class => 'button', :id => 'sessions-button'%> </p>

	<% end %>

	<div class="divider-horizontal"></div>
	<div class="divider-horizontal"></div>
	<div class="divider-horizontal"></div>

	</div>

<% end %>




<!--regarding the above form for query creation, I think it would be good to implement some kind of ajax so that it updates the db immediately and maybe the page will not have to refresh? So that the comment appears immediately below. I don't know if this is a thing. -->

<!-- Queries section starts here --> 

<h1 class="section-header">Related Queries</h1>


<% @queries.each do |query|%>

<br/>


<div class="questions-container">



		<div class="question-title-container">
		<!--question title -->
		 <a href = "/queries/<%=query.id %>" class="question-title"><%= query.question%></a>

		</div>

			<div class="question-submission-info">

				<img class="avatar" id="embedded" src = "<%=User.find(query.user_id).avatar.thumb.url%>"/>
	
				<a href="/users/individual/<%=query.user_id%>" class="question-submission-info-item"> Submitted by <strong> <%= User.find(query.user_id).first_name %></strong> </a>

				<p class="question-submission-info-item">Posted <strong><%= time_ago_in_words(query.created_at) %></strong> ago</p>





		</div>







		<!--description of question -->

		<p class="description"> 
			<%= query.description %>
		</p>

		
	</div>



		<% if current_user == nil %>

			<div class="answer-container">

		<div class="question-title-container">

			<h2 class="question-title smaller" id="canyouanswer"> Can you answer this question? </h2>

			<a href="<%= sign_in_path %>"><img class="click-plus" id="clickable-plus" src="/clickableplusnew3.png" /> </a>

		</div>


	</div>

	<% end %>

	<!-- this will be a div that only signed in users can see and click on so that they can answer the question -->
	<% if signed_in? %>

	<div class="answer-container">

		<div class="question-title-container">

			<h2 class="question-title smaller" id="canyouanswer"> Can you answer this question? </h2>

			<img class="click-plus" id="clickable-plus" src="/clickableplusnew3.png" />

			<img class="click-plus clickable-minus" src="/clickableminus.png" />

		</div>

		<!-- this form is hidden until the above div is clicked on -->


			<div class="answer-form">
				<%= form_for [query, @answer] do |f| %>
					<p>
							<%= f.label :"Type your answer below", :class => 'form-topper'%><br/> 
							<%= f.text_field :content %><br/>
							<% f.hidden_field :user_id, :value => current_user.id %>
							<% f.hidden_field :query_id, :value => query.id %>

						</p>
						<p> <%= f.submit "Post answer", :class => 'button', :id => 'answer-button'%> </p>


			</div>

		<div class="divider-horizontal"></div>

			<% end %>

	</div>

	<% end %>


	

	<!-- All answers pertaining to each query will now be listed beneath the query. -->


<!-- 	<br/> -->




	<h2 class = "top-answers"> Top answers to this question </h2>

	<% @answers = Answer.where(query_id: query.id).order(upvotes: :desc) %>

	<% if @answers.count == 0 %>

		<p class="no-answer"> No answers yet. </p>

		<div class="divider-horizontal"></div>
		<div class="divider-horizontal"></div>
		<div class="divider-horizontal"></div>

		<%end%>

		<br/>



	<% @answers.each do |answer| %>



<div class="answer-container">

	<div class="question-submission-info" id="answer-info">

		<img class="avatar" id="embeddedanswer" src = "<%=User.find(answer.user_id).avatar.thumb.url%>"/>

			<a href="/users/individual/<%=query.user_id%>" class="question-submission-info-item"> Submitted by <strong> <%= User.find(answer.user_id).first_name %></strong> </a>

			<!-- this tick only appears if user is a lawyer -->
			<% if User.find(answer.user_id).lawyer? %>

				<img class="verified" src = "/verified_icon.png"/>

			<% end %> 
		
	</div>


		<!-- content of answer -->


			
			<p> <%= answer.content %> </p>

		<!-- this is the upvote button. For now, it is a submit button with a value -->

		<div class="upvote-container">
			<%= form_for answer, url: answers_upvote_path, method: :post do |x| %>

	  		
	  			<input type="hidden", value="<%=answer.id%>", name="answer_id">
	  			<input type="image" class="upvote" name="submit" src="/thumbsup3.png" border="0" alt="Upvote" />
	  		
			
			<% end %>

		<!--this shows the number of times the answer has been upvoted. Maybe it needs a thumbs up symbol or something next to it..or! the upvot button can be a thumbs up symbol and the upvote count will be next to it. -->


		<p class="upvote-number"><%= answer.upvotes %> upvotes</p>

		</div>
		<div class="divider-horizontal"></div>

		</div>

		



<!-- 		<div class="divider-horizontal"></div>
		<div class="divider-horizontal"></div>
		<div class="divider-horizontal"></div> -->



	




		
<%end%>

	<% if @answers.count > 0 %>

		<div class="divider-horizontal"></div>
		<div class="divider-horizontal"></div>
		<div class="divider-horizontal"></div>

	<% end %>



<% end %>


<script>
      $(".answer-form").hide();
      // $("#clickable-minus").hide();
    // $("#filler-mobile").hide();

    $(".click-plus").on("click", function(e){
        // e.preventDefault();
        $(".answer-form").toggle();
        // $("#clickable-plus").hide();
        // $('.clickable-minus').show();
        console.log('click');


    });
  </script>



