<!DOCTYPE html> 
<html>
  <head>
    <title>Eppeals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>



  </head>

  <body>
    <!-- The bottom link to homepage should be epeals logo -->
    <p> <a href = "http://localhost:3000"> Epeals </a></p>

    

    <div class="navbar-container">

      
      <!-- LOGO BOX -->

      <div class="logo-container">

        <a href="<%= home_path %>"><img class="logo" src="/logo.png" /></a>

        <a href="<%= home_path %>" class="appname">epeals</span></a>

      </div>



      <!-- SEARCH CONTAINER -->
<!-- 
      <div class="navbar-tag-container" id="search-form-container-wide">

          <form><input type="text" class="search-form" id="search-bar">

              <input type="submit" value="Search">

          </form>

      </div> -->


      <%= form_tag search_result_path, method: :get do %>
        <input type="text" name="search" class="search-form", placeholder="Search">
        <%= submit_tag 'Search!' %>
      <% end %>





      <% if signed_in? %>


      <div class="navbar-tag-container" id="user-info">

        

        <p class="navbar-tag"><%= link_to current_user.email, user_path(current_user) %></p>
      

        <a href="/users/<%= current_user.id %>"><img class ="avatar" src="<%= current_user.avatar.thumb.url %>"></a>


      </div>


      <div class="navbar-tag-container" id="sign-out">

        <%= link_to t(".sign_out"), sign_out_path, method: :delete, :class => 'navbar-tag' %>

      </div>
        

      <% else %>
                    <!-- LOGIN CONTAINER -->

      <div class="navbar-tag-container" id="login">

        <%= link_to t(".login"), sign_in_path, :class => 'navbar-tag' %>

      </div>


      <!-- SIGN UP CONTAINER -->

      <div class="navbar-tag-container" id="sign-up">

        <%= link_to t(".sign_up"), sign_up_path, :class => 'navbar-tag' %>

      </div>
            <% end %>



      <!-- SUBMIT A COMPLAINT -->

      <div class="navbar-tag-container" id="complaint">

        <a href="#" class="navbar-tag"><strong>submit a complaint</strong> </a>

      </div>


      <!-- ADDITIONAL RESOURCES -->

      <div class="filler-container">

      <div class="navbar-tag-container" id="additional">

        <div id="dropdown-button">

          
          <div class="dropdown-bars"></div>
          <div class="dropdown-bars"></div>
          <div class="dropdown-bars"></div>


        </div>


      </div>

    </div>

    </div>


    <!-- DROPDOWN NAVBAR -->


    <div id="dropdown-navbar">


      <div id="links-container">

         <% if signed_in? %>

      <div class="dropdown-link" id="user-info-dropdown">
        <%= link_to current_user.email, user_path(current_user), :class => "dropdown-tag"  %>
      </div>


      <div class="dropdown-link responsive-dropdown-link" id="sign-out-link">

        <%= link_to t(".sign_out"), sign_out_path, method: :delete, :class => "dropdown-tag" %>

      </div>


         <div class="dropdown-link" id="search-form-container">

            <form><input type="text" class="search-form">

              <input type="submit" value="Search">

          </form>

      </div>


      <div class="dropdown-link" id="complaint-dropdown">

        <a href="#" class="dropdown-tag">Submit a complaint</a>

      </div>



      <div class="dropdown-link">

        <a href="#" class="dropdown-tag">articles</a>

      </div>


      <div class="dropdown-link">

        <a href="/queries" class="dropdown-tag">queries</a>

      </div>




          <%else%>



      <!-- NOT SIGNED IN -->



      <div class="dropdown-link" id="search-form-container">

          <form><input type="text" class="search-form" id="search-bar">

              <input type="submit" value="Search">

          </form>

        <a href="#" class="dropdown-tag"></a>

      </div>


      <div class="dropdown-link" id="complaint-dropdown">

        <a href="#" class="dropdown-tag">Submit a complaint</a>

      </div>



      <div class="dropdown-link">

        <a href="#" class="dropdown-tag">articles</a>

      </div>


      <div class="dropdown-link">

        <a href="/queries" class="dropdown-tag">queries</a>

      </div>


      <div class="dropdown-link-late" id="user-info-dropdown">

        <a href="<%= sign_in_path %>" class="dropdown-tag">Login</a>

      </div>


      <div class="dropdown-link-late" id="signup-dropdown">

        <a href="<%= sign_up_path %>" class="dropdown-tag">Sign up</a>

      </div>


      <% end %>

    </div>


    </div>


    <div class="filler"></div>


    <% flash.each do |key, value| -%>
      
        <div id="flash" class = "alert alert-warning">

        <div id="flash_<%= key %>"><%=h value %></div>

      </div>
    <% end %>



















<script>
      $("#dropdown-navbar").hide();
    // $("#filler-mobile").hide();

    $("#dropdown-button").on("click", function(e){
        // e.preventDefault();
        $("#dropdown-navbar").toggle();
        console.log('click');


    });
  </script>






    <% if signed_in? && current_user.lawyer? && current_user.verified == true %>
      <p> <a href= "http://localhost:3000/articles/new"> Write A Legal Article </a></p>

    <% end %>

    <%= yield %>

   <!--  FOOTER HERE -->

    <div class="footer">

      <div class="footer-content-container" id="first">

        <a href="/"><img class="footer-logo" src="/logo_white.png" /></a>

        <div class="divider-horizontal" id="footer-divider"></div>

        <p class="footer-link">Copyright epeals 2018</p>

        <div class="divider-horizontal" id="footer-divider"></div>


      </div>

      <div class="footer-content-container" id="second">

        <a href="#" class="footer-section-header">About epeals</a>
        <a href="#" class="footer-link">Ask a question</a>
        <a href="#" class="footer-link">Submit a complaint</a>
        <a href="/articles" class="footer-link">Read lawyer articles</a>
        <a href="#" class="footer-link">Browse popular topics</a>


      </div>


      <div class="footer-content-container" id="third">

        <a href="#" class="footer-section-header">Using the site</a>

        <a href="/sign_in" class="footer-link">Login</a>
        <a href="/sign_up" class="footer-link">Sign Up</a>



      </div>
      



    </div>


  </body>
</html>